$color-primary: #E82C4E
$color-secondary: #365078
$color-dark: #131C2B
$color-light: #ffffff
$color-grey-light: #ECF2FB

$font-family-body: 'Open Sans', sans-serif
$font-family-headline: 'Domine', serif

$border-radius: .25rem

$border-width: 2px
$border: $border-width solid $color-primary
$animation: all 150ms ease-in-out
