$color-primary: #3352C4
$color-secondary: #E82C4E
$color-dark: #000000
$color-light: #ffffff

$font-family: 'Open Sans', sans-serif

$border-radius: .5rem

$border-width: 2px
$border: $border-width solid $color-primary
$animation: all 150ms ease-in-out